@model List<Wagon>

<h1>All Wagons</h1>

<ul>
    @foreach (var wagon in Model)
    {
        <li>
            <a href="/wagons/@wagon.Id">
                @wagon.Name
            </a>

            has @wagon.Passengers.Count Passengers
        </li>
    }
</ul>